* {
    margin: 0;
    padding: 0;
}

.main {
    background: url('./assets/bg-image-wrapper.png') center center/cover no-repeat;
    width: 100vw;
    height: 788px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.menu {
    width: 583px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu>a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;

    color: #FFFFFF;



}

.menu>a:hover {
    border-bottom: 1px solid white;
}

.title>h1 {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 138px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.h2>h2 {
    width: 469px;
    height: 50px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.btn {
    margin-top: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    background-color: #00AFDB;
    width: 184px;
    height: 46px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.logo {
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 20px;
    display: flex;
    margin-top: 160px;

}

.btn>p {
    color: white;
}

.part2 {
    height: 842px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.left {
    width: 383px;
    height: 233px;



}

.left>h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.right {
    margin-left: 248px;
}

.we {
    width: 80px;
    height: 30px;
    border: none;
    margin-left: 200px;
    background-color: #FFFFFF;
}